{# src/SS/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "SSPlatformBundle::layout.html.twig" %}

{% block body %}

    {% if vue=='O'%}
    <h2>Ajouter une annonce</h2>

    {{ include("SSPlatformBundle:Advert:formOffre.html.twig") }}

    {% endif %}

    {% if  vue=='E' %}
        <h2>Ajouter une entreprise</h2>

        {{ include("SSPlatformBundle:Advert:formEntreprise.html.twig") }}

    {% endif %}


{% endblock %}