{# src/SS/PlatformBundle/Resources/view/Advert/view.html.twig #}


{% extends "SSPlatformBundle::layout.html.twig" %}

{% block title  %}
Affichage de l'annonce n°{{ offre.id }}
{% endblock %}

{% block ssplatform_body %}
<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>

<p>
    {{ offre.intitule }}
</p>
{% endblock %}
